<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signin.css">
    <title>Food delivery signup Page</title>
</head>
<body>
    <Section id="signupfirst">
            <div class="topnav">
                <div class="topnav-right close">
                    <div class="toggle-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="navs ">
                        <a href="Home page.html">HOME</a>
                        <a href="#menu">MENU</a>
                        <a href="signin page.html">SIGN IN</a>
                        <a href="#contact">CONTACT</a>
                    </nav>
                </div>
                <div class="restau">
                    <span class="name">237 KITCHEN &nbsp;<img src="237kitc.jpg"></span>
                    <span class="logo">&copy; &nbsp;B WORKS</span>
                </div>
            </div>
            <div class="sec-logo">
                <h1>&copy; &nbsp;B WORKS</h1>
            </div>
            <div class="signup">
                <div class="signin">
                    <p> Have An Account Already?</p><br>
                    <a href="signin page.html"><i>Signin</i></a>
                </div>
                <div class="img">
                    <img src="signup1.png" alt="signup1">
                    <h2>Signup</h3>
                </div>
                <form action="#" method="get">
                    <label for="">USERNAME</label>
                    <Br>
                    <input maxlength="10" type="text" placeholder="letters only" required>
                    <br>
                    <br>
                    <label for="">PASSWORD</label>
                    <br>
                    <input type="password" placeholder="Enter a Password"  required>
                    <br>
                    <br>
                    <label for="">ENTER PASSWORD AGAIN</label>
                    <br>
                    <input type="password" placeholder="Enter a Password again"  required>
                    <br>
                    <br>
                    <div>
                        <input class="submit" type="submit" value="Signup">
                    </div>
                </form>   
            </div>
    </Section>
    <script src="bes.js"></script>
</body>
</html>