<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'restau/css/signin.css' %}">
    <title>Food delivery signup Page</title>
</head>
<body>
    <Section id="signupfirst">
            <div class="topnav">
                <div class="topnav-right close">
                    <div class="toggle-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="navs ">
                        <a href="{% url 'index' %}">HOME</a>
                        <a href="#menu">MENU</a>
                        <a href="{% url 'login' %}">SIGN IN</a>
                        <a href="#contact">CONTACT</a>
                    </nav>
                </div>
                <div class="restau">
                    <span class="name">237 KITCHEN &nbsp;<img src="{% static 'restau/images/237kitc.jpg' %}"></span>
                    <span class="logo">&copy; &nbsp;B WORKS</span>
                </div>
            </div>
            <div class="sec-logo">
                <h1>&copy; &nbsp;B WORKS</h1>
            </div>
            <div class="signup">
                <div class="signin">
                    <p> Have An Account Already?</p><br>
                    <a href="{% url 'login' %}"><i>Signin</i></a>
                </div>
                <div class="img">
                    <img src="{% static 'restau/images/signup1.png' %}" alt="signup1">
                    <h3>Signup</h3>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.username.label }}
                    <Br>
                    {{ form.username }}
                    <br>
                    <br>
                    {{ form.email.label }}
                    <br>
                    {{ form.email }}
                    <br>
                    <br>
                    {{ form.password1.label }}
                    <Br>
                    {{ form.password1 }}
                    <br>
                    <br>
                    {{ form.password2.label }}
                    <br>
                    {{ form.password2 }}
                    <br>
                    <br>
                    <div>
                        <input class="submit" type="submit" value="Signup">
                    </div>
                    {{ form.errors }}
                </form>
            </div>
    </Section>
    <script src="{% static 'restau/js/bes.js' %}"></script>
</body>
</html>