<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'restau/css/signin.css' %} ">
    <title>Food delivery signin page</title>
</head>
<body>
    <Section id="signupfirst">
            <div class="topnav">
                <div class="topnav-right close">
                    <div class="toggle-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="user">
                        <img src="{% static 'restau/images/profile.png' %}" alt="profile">
                    </div>
                    <nav class="navs ">
                        <a href="{% url 'index' %}">HOME</a>
                        <a href="#menu">MENU</a>
                        <a href="{% url 'login' %}">SIGN IN</a>
                        <a href="#contact">CONTACT</a>
                    </nav>
                </div>
                <div class="restau">
                    <span class="name">237 KITCHEN &nbsp;<img src="{% static 'restau/images/237kitc.jpg' %} "></span>
                    <span class="logo">&copy; &nbsp;B WORKS</span>
                </div>
            </div>
            <div class="sec-logo">
                <h1>&copy; &nbsp;B WORKS</h1>
            </div>
            <div class="signup">
                <div class="signin">
                    <p>Don't Have An Account?.</p><br>
                    <a href="{% url 'register' %}">Signup</a>
                </div>
                <div class="img">
                    <img src="{% static 'restau/images/signup2.png' %}" alt="signup1">
                    <h2>Signin</h2>
                </div>
                <form action="" method="POST">
                	{% csrf_token %}
                    {{ form.errors }}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <br>
                    {{ form.username.label }} 
                    <Br>
                    {{ form.username }} 
                    <br>
                    <br>
                    {{ form.password1.label }}
                    <br>
                    {{ form.password1 }}
                    <Br>
                    <br>
                    <input type="checkbox" >Remember me
                    <br>
                    <br>
                    <i><a href="{% url 'reset_password' %}">Password Forgotten</a>
                    <br>
                    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></i>
                    <br>
                    <br>
                    <div>
                        <input class="submit" type="submit" value="Login">
                    </div>
                </form>
            </div>
    </Section>
    <script src="{% static 'restau/js/bes.js' %}"></script>
</body>
</html>